In [12]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

import datetime

df= pd.read_csv('name.basics.tsv', sep='\t')
df.head(20)
df.dtypes

nconst               object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
dtype: object

In [13]:
#Convert this back to pandas  from tuple
df = pd.DataFrame(df)
# Convert the values the column  to lowercasedf['deathYear'] = df['deathYear'].map(str.lower)
df = df.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)
df = df.replace('\n','', regex=True)

In [14]:
df.shape

(11565078, 6)

In [15]:
# Replace the  \n  character with empty string "" usin the regula expression
df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)

#Filter the deathYear when it empty as this isthe criteria for being ALIVE
df = df[df["deathYear"] == '']

In [16]:
df = df.fillna("")

In [17]:
#puthe the first column in a seperate colulmn in the dataFrame, to aid filtring
df['primaryProfession_VAL'] = df['primaryProfession'].apply(lambda x: x.split(',')[0])

In [18]:
df.dtypes

nconst                   object
primaryName              object
birthYear                object
deathYear                object
primaryProfession        object
knownForTitles           object
primaryProfession_VAL    object
dtype: object

In [19]:
#count the nummber of proffesions sepretaed by a comma and put in a seperate column primaryProfession_COUNT
df['primaryProfession_COUNT'] = df['primaryProfession'].apply(lambda x: len(x.split(',')))

In [20]:
# Filter for for actors having 3 professions
df = df[df["primaryProfession_COUNT"] == 3 ]

In [21]:
# Filter for for actors having first profession to be equal to producer
df = df[df["primaryProfession_VAL"] == 'producer']

In [22]:
#perfom the couny
df = pd.DataFrame(df)
RowCount, ColumnCount = df.shape
print('RowCount',RowCount)

RowCount 121555